.dodec{	
  margin-top: 3em;
	text-align: center;
}

.img{
	margin-top: 1.5em;			
	text-align: center;
}

.operation{
	margin-top: 5.5em;
}

#pantalla{
   margin-top: 2em;
   text-align: center;
   height: 15em;
   border-radius:2em;
}

#operaciones {
	margin-top: 1.5em;
	font-weight: bold;
}

.marcador {
	margin-top: 6em;
	color: #455A64;
}

.por{
	text-align: right;
}

.mas, .men{
	text-align: center;
}

#mathdice{
  visibility: hidden;
  margin-top: 2em;
}


body {
  padding-top: 40px;
  padding-bottom: 40px;

  /* Location of the image */
  background-image: url(../img/cuadrados.jpg);

  /* Image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  
  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
  
  /* Pick a solid background color that will be displayed while the background image is loading 
  background-color:#464646;*/
  
  /* SHORTHAND CSS NOTATION
   * background: url(background-photo.jpg) center center cover no-repeat fixed;
   */
}

/* For mobile devices */
@media only screen and (max-width: 767px) {
  body {
    /* The file size of this background image is 93% smaller
     * to improve page load speed on mobile internet connections */
    background-image: url(../img/dado_rojo.jpg);
  }
}

.pushbutton a:hover{
	position: relative;
	top: 1px;
	left: 1px;
}


